.section_container
  max-width: calc(1280px)
  margin: 0 auto
  padding: 40px 0


.section_wrap
  padding: 100px 100px
  & .ant-page-header
    padding: 16px 0

.section_header
  display: flex
  justify-content: space-between
  font-size: 2rem
  font-weight: 200
  width: 100%
  border-bottom: 1px solid #bfbfbf
  margin: 30px 0
  z-index: 10
  & > h1
    flex: 7
  & > span
    flex: 3